@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
	margin: 0px;
	font-family: "Nunito";
	color: #323232;
}
ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	gap: 22px;
	height: 75px;

	flex: none;
	order: 1;
	flex-grow: 0;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
	font-weight: 700;
	font-size: 55px;
	color: #FFFFFF;
	text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.36);
	padding-bottom: 50px;
}
h2 {
	font-size: 40px;
	line-height: 45px;
}

h5 {
	font-size: 20px;
}

p {
	font-size: 15px;
	line-height: 20px;
}

input {
	background-color: #FFFFFF;
	width: 44%;
	height: 44px;
	border-style: solid;
	margin-bottom: 2%;
	margin-right: 4%;
}

textarea {
	width: 94%;
	height: 301px;
	flex-shrink: 0;
}
.Detalles-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 66px;
	position: fixed;
	width: 100%;
	height: 67px;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	background: rgba(234, 236, 232, 0.85);

} 
.Navegador {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 33px 0px 0px;

	width: 100%;
	height: 65px;
	
	flex: none;
	order: 0;
	flex-grow: 0;
}
.botones-linkeados {
	text-decoration: none;
}
.rectangulo-superior-footer{
	background-color: #D9D9D9;
	height: 155px;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.rectangulo-inferior-footer {
	background-color: #4E4D51;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nuestras-redes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.iconos-redes {
	display:flex;
	
}

.contenedor-svg-iconos {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 1%;
}

/*html index*/

.banner-home {
	background-position: center;
	background-blend-mode: multiply;
	background-image: url("img/Desktop/Home/contenedores_colores-reciclar-basura-residuos.jpg"), linear-gradient(180deg,rgba(1,0,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	margin-top: 67px;
	width: 50%;
	height: 650px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #ffffff;
}

.arriba {
	margin-top: -400px;
	margin-bottom: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arriba p {
	display: flex;
	width: 985px;
	height: 139px;
	flex-direction: column;
	color: #FFF;
	text-align: center;
	font-size: 24px;
	font-family: Nunito;
	font-weight: 700;
}

.flecha1 {
	margin-top: -400px;
	margin-bottom: 300px;
	color: #FFFFFF;
}

.flecha2 {
	margin-top: -370px;
	margin-bottom: 295px;
	color: #FFFFFF;
	display: flex;
	justify-content: flex-end;
}

.iconos-home{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.detalles-iconos {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.detalles-text {
	display: flex;
	justify-content: space-around;
}

.economia {
	width: 225px;
	height: 99.057px;
}

.consumo {
	width: 225px;
	height: 99.057px;
}

.conciencia {
	width: 225px;
	height: 99.057px;
}

.soluciones {
	width: 225px;
	height: 99.057px;
}

.proposito-home {
	background-color: #F9F9F9;
	width: 100%;
	height: 852px;
	display: flex;
	flex-direction: column;
}

.nuestro-home {
	display: flex;
	width: 574px;
	height: 68px;
	margin-left: 800px;
	margin-top: -520px;
	flex-direction: column;
}
.p1 {
	width: 671px;
	height: 353px;
	margin-left: 800px;
	margin-top: -2px;
	color: #636265;
	font-size: 21px;
	font-family: Nunito;
}
.p2 {
	width: 671px;
	height: 353px;
	margin-left: 800px;
	margin-top: -230px;
	color: #636265;
	font-size: 21px;
	font-family: Nunito;
}
.irnosotros-home {
	background-color: #67BC8C;
	width: 243px;
	height: 49px;
	color: #FFF;
	font-size: 22px;
	font-family: Nunito;
	font-weight: 600;
	text-align: center;
	margin-left: 800px;
	margin-top: -220px;
}
/* html contacto*/ 

.banner-contacto {
	background-position: bottom center;
	background-blend-mode: multiply;
	background-image: url("img/desktop/contacto/contacto-1.jpg"),linear-gradient(180deg,rgba(10,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	margin-top:67px;
	width: 100%;
	height: 300px;
	background-size: 100% auto; 
	brackground-repeat: no-repeat;
	background-color: #FFFFFF;
}
.interior-contacto {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.contenedor-texto-formulario {
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.color-fondo-contacto {
	background-color: #F9F9F9;
}

.dudas-sugerencias {
	padding: 42px 0px;
	margin: 0% 10%;
	margin-right: 2%;
	width: 38%;
}

.texto-contacto {
	margin: 0% 19%;
	width: 66%;
	padding-bottom: 2%;
	font-size: 16px;
}
.informacion-de-contacto {
	margin: 0% 19%;
	width: 38%;;
	top: 36px;
}

.texto-address{
	display: flex;
	font-size: 13px;
	font-style: normal;
	margin-left: 2%;
}

.icono-texto-address {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.detalles-formulario{
	background-color: #FFFFFF;
	padding: 30px;
	margin-right: 10%;
	width: 34%;
	height: 490px;
	flex-shrink: 0;
}

.asunto-formulario {
	width: 94%;
}

.mensaje-formulario {
	width: 94%;
	height: 244px;
}

.boton-enviar {
	width: 151px;
	height: 48px;
	margin-top: 3%;
	background-color: #66BC8D;
	font-size: 19px;
	border: none;
	color: #fff;
}
/* html nosotros*/ 

.banner-nosotros {
	background-position: bottom center;
	background-blend-mode: multiply;
	background-image: url("img/Desktop/Nosotros/nosotros-2.jpg"),linear-gradient(180deg,rgba(10,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	margin-top: 67px;;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
}

.interior-nosotros {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.texto-nosotros {
	text-align: center;
	padding: 42px 0px;
	margin: 0% 20%;
}

.linea-separadora-nosotros {
	content: "";
	height: 1px;
	color: #67BC8C;
	border-top-style: solid;
	margin: 40px 25%;
}

.color-contendor-version-uno-nosotros {
	background-color: #F9F9F9;
	padding: 50px 0px;
	box-sizing: border-box;
}

.contenedor-version-uno-nosotros {
	margin: 0px 0px;
	padding: 30px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-dobles-nosotros {
	margin-right: 2%;
}

.texto-version-uno-nosotros {
	width: 38%;
}

.texto-version-dos-nosotros {
	margin-right: 2%;
	width: 38%;
}

.contenedor-version-dos-nosotros {
	display: flex;
	justify-content: center;
}

.color-contendor-version-dos-nosotros {
	background: #E8EAE5;
	width: 75%;
	height: 400px;
	display: flex;
	align-items: flex-start;
	padding: 2%;
	margin-bottom: 50px;
}

.texto-version-tres-nosotros {
	margin-left: 3%;
	width: 100%;
}

.contenedor-version-tres-nosotros {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}

.contenedor-perfiles-nosotros {
	width: 37%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3%;
}

.h5-nosotros {
	margin: 12px 0px 6px;
}

.texto-perfiles-nosotros {
	font-size: 13px;
	font-style: italic;
	text-align: center;
	border-left: solid 4px #BCBCB9;
	padding-left: 3%;
	margin: 3% 0%;
}

.contenedor-version-cuatro-nosotros {
	background-color: #F9F9F9;
	text-align: center;
	align-items: center;
	margin-top: 6%;
	padding-top: 6%;
}

.por-que-erres-nosotros {
	background-image: url("img/Desktop/Nosotros/porque-Erres.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 160vh;
	height: 38vh;
	margin-top: 2%;
}

.texto-version-cuatro-nosotros {
	text-align: center;
	margin: 2% 18%;
}

@media screen and (max-width: 600px) {
	h2 {
		text-align: center;
	}
	
	.img-dobles-nosotros {
		padding-top: inherit;
	}
	.texto-nosotros {
		
		width: 83%;
		margin: 0% 8%;	
	}
	.contenedor-version-uno-nosotros {
		display: flex;
		flex-direction: column-reverse;
	}

	.texto-version-uno-nosotros {
		width: 90%;
	}
	
	.contenedor-version-dos-nosotros {
		display: flex;
		flex-direction: column-reverse;
	}
}