@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
	margin: 0px;
	font-family: "Nunito";
	color: #323232;
}


ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	gap: 22px;
	height: 75px;

	flex: none;
	order: 1;
	flex-grow: 0;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a { 
	color: #323232;
	text-decoration-line: none;
}

a:hover { 
	color: #838286;
}

h1 {
	font-weight: 700;
	font-size: 55px;
	color: #FFFFFF;
	text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.36);
	padding-bottom: 50px;
}
h2 {
	font-size: 40px;
	line-height: 45px;
}


h5 {
	font-size: 20px;
}

p {
	font-size: 15px;
	line-height: 20px;
}

input {
	background-color: #FFFFFF;
	width: 42%;
	height: 44px;
	margin: 0% 4% 2% 0%;
	color: #636265;
	padding-left: 2%;
	font-size: 16px;
	border: 1px solid;
}

textarea {
	width: 91.4%;
	height: 240px;
	padding-left: 2%;
	font-size: 16px;
	
	border: 1px solid;
}
.detalles-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 66px;
	position: fixed;
	width: 100%;
	height: 67px;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	background: rgba(234, 236, 232, 0.85);

} 
.navegador-botonera {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 33px 0px 0px;

	width: 100%;
	height: 65px;
	
	flex: none;
	order: 0;
	flex-grow: 0;
}

#check {
	display: none;
}

.bar-btn {
	display: none;
}

.botones-linkeados {
	text-decoration: none;
}

.animacion-flecha {
	scroll-behavior: smooth;
}
.rectangulo-superior-footer{
	background-color: #D9D9D9;
	height: 155px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.rectangulo-inferior-footer {
	background-color: #4E4D51;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	color: #ffffff;
}

.nuestras-redes {
	font-size: 13px;
	margin-bottom: revert;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.iconos-redes {
	display:flex;
	
}

.contenedor-svg-iconos {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 1%;
	align-items: center;
}

.color-contendor-version-uno {
	background-color: #F9F9F9;
	padding: 50px 0px;
	box-sizing: border-box;
}
/*html index*/

.banner-home {
	background-position: center;
	background-blend-mode: multiply;
	background-image: url("img/desktop/home/como-reciclar-casa-sostenibilidad-reciclaje-1bbva.jpg"),linear-gradient(180deg,rgba(10,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	margin-top:67px;
	height: 724px; 
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	background-size: cover;
}

.arriba {
	margin: -27% 0% 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.arriba h1{
	display: flex;
	flex-direction: column;
	color: #FFF;
	text-align: center;
	font-size: 62px;
}
.arriba p {
	display: flex;
	width: 680px;
	height: 139px;
	flex-direction: column;
	color: #FFF;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
}

.flechas-banner-home {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: -42% 0% 27%;
}

.flecha1 {
	margin-right: 89%;
}

.iconos {
	margin: 20% 13% 0% 13%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}
.iconos h5 {
	font-size: 17px;
}

.sub-iconos {
	padding: 0% 5% 5% 4%;
}

.proposito-home {
	background-color: #F9F9F9;
	width: 100%;
	height: 670px;
	margin-bottom: 8%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pro-text {
	margin: 0% 0% 0% 5%;
}
.nuestro-home {
	display: flex;;
	height: 68px;
	font-size: 45px;
}
.nuestro-p {
	width: 450px;
	height: 353px;
	color: #636265;
	font-size: 25px;
	margin-bottom: -18%;
}
.p2 {
	margin-top: 4%;
}
.boton-irnosotros {
	background-color: #67BC8C;
	padding: 1% 15%;
	color: #FFF;
	font-weight: 600;
	text-align: center;
	font-size: 18px;
}
.boton-irnosotros:hover {
	background-color: #383838;
	color: #fff;
}

.galeria {
	text-align: center;
	width: 100%;
	margin: 7% 0% 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.galeria p {
	width: 600px;;
	height: 10%;
	margin: 5% 0;
	font-size: 16px;
}
.galeria-img {
	width: 83%;
}

.img-individuales {
	margin: 0.3%;
}

.nuestro-blog {
	background-color: #F9F9F9;
	height: 380px;
	padding: 80px 100px;
	display: flex;
	flex-direction: column;
}
.nuestro-blog article {
	width: 800px;
	height: 400px;
	margin-left: 10%;
	background-color: #fff;
	background-image: url("img/Desktop/Home/dia-mundial-del-reciclaje.png"), linear-gradient(180deg,rgba(1,0,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	display: flex;
	flex-direction: row;
}

.detalles-mundial {
	margin: 5% 4%;
}
.detalles-mundial h3 {
	margin: 10% 0% 8%;
	font-size: 40px;
	width: 400px;
	line-height: 40px; 
}
.detalles-mundial p {
	margin: 0% 0% 20% 6%;
	color: #67BC8C;
}

.nota-blog {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff;
}
.boton-blog {
	background-color: #67BC8C;
	color: #FFF;
	font-weight: 600;
	text-align: center;
	font-size: 18px;
	padding: 4px 6px;
}
.boton-blog:hover {
	background-color: #383838;
	color: #fff;
}
.boton-leermas {
	padding: 10px 30px;
	font-size: 20px;
	border: 1px solid;
}
.boton-leermas:hover {
	background-color: #F9F9F9;
	color: #000;
	border: none;
}

.bloque-blog {
	margin: 0% 0% 0% 5%;
	width: 20%;
	align-self: center;
}

.bloque-blog h2{
	font-size: 52px;
	line-height: 55px;
	width: 0%;
}
.bloque-blog p {
	margin: 5% 0%;
	font-size: 22px;
	line-height: 30px;
	width: 81%;
}
.boton-visitar {
	background-color: #67BC8C;
	color: #FFF;
	font-weight: 600;
	text-align: center;
	font-size: 18px;
	padding: 5px 50px;
}
.boton-visitar:hover {
	background-color: #383838;
	color: #fff;
}
.compots-general {
	margin: 5% 0%;
}

.compots-preparado {
	margin-right: 3%;
}

.prepara-tu-compots {
	width: 98%;
	font-size: 52px;
	line-height: 100%;
}
.como-preparar-tu-compots {
	margin-top: 10%;
	width: 490px;
	font-size: 21px;
	line-height: 150%;
}

.productos{
	background-color: #F9F9F9;
	text-align: center;
	width: 100%;
	padding: 50px 0px;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.boton-tienda {
	background-color: #67BC8C;
	padding: 1% 5%;
	color: #FFF;
	font-weight: 600;
	font-size: 18px;
}

.boton-tienda:hover {
	background-color: #383838;
	color: #fff;
}

.intro-produ {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.intro-produ p {
	width: 600px;
	margin: 1% 0%;
}
.img-productos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5% 0%;
}

.img-individuales-productos {
	margin-left: 2%;
	background-color: #fff;
	padding-bottom: 2%;
}

.ofertas p {
	background-color: #67BC8C;
	color: #FFF;
	font-weight: 600;
	font-size: 18px;
}

.contenedor-erres {
	display: flex;
	flex-direction: row;
	margin: 5% 0% 5% 10%;
}

.erres-detalles-home {
	display: flex;
	flex-direction: row;
	margin: 5% 0% 5% 10%;
}

.img-erres {
	padding-bottom: 5%;
}

.contenedor-erres h2 {
	margin-bottom: 3%;
}

.contenedor-erres {
	display: flex;
	flex-direction: column;
	margin: 0% 0% 0% 2%;
}

.todas-las-erres {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.texerres {
	margin-top: 0.5%;
}
/* html contacto*/ 

.banner-contacto {
	background-position: bottom center;
	background-blend-mode: multiply;
	background-image: url("img/desktop/contacto/contacto-1.jpg"),linear-gradient(180deg,rgba(10,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	margin-top:67px;
	height: 300px; 
	brackground-repeat: no-repeat;
	background-color: #FFFFFF;
	background-size: cover;
}
.interior-contacto {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.contenedor-texto-formulario {
	margin: 3% 0% 7%;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	
}
.color-fondo-contacto {
	background-color: #F9F9F9;
}

.texto-contacto {
	margin: 0% 19%;
	width: 66%;
	padding-bottom: 2%;
	font-size: 16px;
}
.informacion-de-contacto {
	margin: 0% 19%;
	width: 38%;
	top: 36px;
}

.texto-address{
	display: flex;
	font-size: 13px;
	font-style: normal;
	margin-left: 2%;
}

.icono-texto-address {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.detalles-formulario-contacto{
	background-color: #FFFFFF;
	padding: 30px;
	margin-right: 10%;
	width: 30%;
	height: 430px;
	flex-shrink: 0;
}

.medida-formulario-contacto {
	width: 107%;
}
.asunto-formulario {
	width: 91.4%;
	border: 1px solid;
	color: #636265;
}

.mensaje-formulario {
	width: 94%;
	height: 244px;
}

.boton-enviar {
	width: 151px;
	height: 48px;
	margin-top: 3%;
	background-color: #66BC8D;
	font-size: 19px;
	border: none;
	color: #fff;
}

.boton-enviar:hover {
	background-color: #383838;
	color: #fff;
}

/* html nosotros*/ 

.banner-nosotros {
	background-position: bottom center;
	background-blend-mode: multiply;
	background-image: url("img/desktop/nosotros/nosotros-2.jpg"),linear-gradient(180deg,rgba(10,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	margin-top: 67px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
}

.interior-nosotros {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.texto-nosotros {
	text-align: center;
	padding: 42px 0px;
	margin: 0% 20%;
}

.linea-separadora-nosotros {
	content: "";
	height: 1px;
	color: #67BC8C;
	border-top-style: solid;
	margin: 40px 25%;
}

.contenedor-version-uno {
	margin: 0px 0px;
	padding: 30px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor-version-cinco-nosotros {
	margin: 0px 0px;
	padding: 30px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-dobles-nosotros {
	margin-right: 4%;
}

.texto-version-uno-nosotros {
	width: 38%;
}

.texto-version-dos-nosotros {
	margin-right: 4%;
	width: 38%;
}

.contenedor-version-dos-nosotros {
	display: flex;
	justify-content: center;
}

.color-contendor-version-dos-nosotros {
	background: #E8EAE5;
	width: 75%;
	height: 400px;
	display: flex;
	align-items: flex-start;
	padding: 2%;
	margin-bottom: 50px;
}

.texto-version-tres-nosotros {
	margin-left: 3%;
	width: 100%;
}

.contenedor-version-tres-nosotros {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}

.contenedor-perfiles-nosotros {
	width: 37%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3%;
}

.h5-nosotros {
	margin: 12px 0px 6px;
}

.texto-perfiles-nosotros {
	font-size: 13px;
	font-style: italic;
	text-align: center;
	border-left: solid 4px #BCBCB9;
	padding-left: 3%;
	margin: 3% 0%;
}

.contenedor-version-cuatro-nosotros {
	background-color: #F9F9F9;
	text-align: center;
	align-items: center;
	margin-top: 6%;
	padding: 6% 0%;
}

.por-que-erres-nosotros {
	background-image: url("img/desktop/nosotros/porque-erres.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 160vh;
	height: 38vh;
	margin-top: 2%;
}

.texto-version-cuatro-nosotros {
	text-align: center;
	margin: 2% 18%;
}

/* html servicios*/ 

.banner-servicios {
	background-image: url("img/desktop/servicios/banner-servicios.jpg"),linear-gradient(180deg,rgba(10,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	background-blend-mode: multiply;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	margin: 67px 0px;
}

.texto-resaltado-servicios {
	font-size: 25px;
	font-weight: 800;
	line-height: 35px;
	width: 40%;
	margin-left: 1%;
}

.color-contendor-version-tres {
	background-color: #E8EAE6;
	padding: 80px 0px;
	box-sizing: border-box;
}

.contenedor-circulo-servicio {
	margin: 0px 0px;
	padding: 30px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-circulo {
	margin-right: 4%;
}

.contenedor-formulario-servicios {
	background-color: #F9F9F9;
	display: flex;
	align-items: center;
	padding: 80px 0px;
}

.medida-formulario-servicios {

}

.texto-formulario-servicios {
	margin: 0% 5% 0% 10%;
	width: 450%;
}

.detalles-formulario-servicio {
	background-color: #FFFFFF;
	padding: 30px 30px 100px;
	margin-right: 10%;
	width: 34%;
	height: 430px;
	flex-shrink: 0;
}

/*HTML Mi cuenta*/

.formulario-cuenta {
	display: flex;
	flex-direction: column;
	width: 65%;
	padding: 10% 1%;
}

.color-contenedor-cuenta {
	width: 30%;
	height: 500px;
	background-color: #F9F9F9;
	flex-direction: row;
}
.botones-cuenta {
	background-color: #67BC8C;
	color: #FFF;
	font-weight: 600;
	font-size: 20px;
	width: 149.5%;
	height: 58px;
	margin-top: 10px;
}

.botones-cuenta:hover {
	background-color: #383838;
	color: #fff;
}

.inicio-sesion {
	font-size: 25px;

}

.input-cuenta {
	height: 55px;
	width: 146%;
	margin: 0% 4% 2% 0%;
	color: #636265;
	padding-left: 2%;
	font-size: 16px;
	border: 1px solid;
}

.check {
	width: 14%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.check-contrasena-olvidada {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.contenedor-color-img{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 120px 75px;
}
@media screen and (max-width: 600px) {

	
	.bar-btn {
		display: flex;
		color: #3AD184;
		cursor: pointer;
	}
	
	.navegador-botonera li {
		display: none;
	}
	
	#check {
		display: none;
	}
	
	
	input { 
		width: 91.4%;
		height: 44px;
		margin: 0% 4% 2% 0%;
	}
	
	/*HTML Mi cuenta*/
	.formulario-cuenta {
		display: flex;
		flex-direction: column;
		width: 65%;
}

	.boton-acceder {
		background-color: #67BC8C;
		color: #FFF;
		font-weight: 600;
		text-align: center;
		font-size: 20px;
		width: 44.5%;
	}
	
	/* Responsive Nosotros*/
	
	h2 {
		text-align: center;
	}
	
	.img-dobles-nosotros {
		padding-top: inherit;
	}
	.texto-nosotros {
		width: 83%;
		margin: 0% 8%;	
	}
	.contenedor-version-uno {
		display: flex;
		flex-direction: column-reverse;
	}

	.texto-version-uno-nosotros {
		width: 90%;
	}
	
	.img-dobles-nosotros {
		width: 100%;
		height: 100%;
		margin-right: 0%;
	}
	
	.color-contendor-version-dos-nosotros {
		display: flex;
		flex-direction: column-reverse;
		height: 970px;
		width: 80%;
		align-items: center;
		padding: 4%;
	}
	
	.color-contendor-version-dos-nosotros img {
		height: 100%;
		width: 100%;
	}
	
	.contenedor-version-cinco-nosotros {
		display: flex;
		flex-direction: column;
	}
	
	.texto-version-dos-nosotros {
		width: 90%;
		margin-right: 0%;
	}
	
	.texto-version-tres-nosotros {
		width: 100%;
		margin: 0% 0% 4%;
	}
	
	.contenedor-version-tres-nosotros {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
	}
	
	.contenedor-perfiles-nosotros {
		width: 80%;
	}
	
	.texto-perfiles-nosotros {
		font-size: 1em;
	}
	
	.por-que-erres-nosotros {
		background-size: cover;
	}
	
	.texto-version-cuatro-nosotros {
		margin: 2% 10%;
	}
	
	.erres-palabras-nosotros {
		height: 100%;
		width: 100%;
	}
	
	.rectangulo-superior-footer {
		height: 195px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	
	.economia-circular {
		margin-bottom: 3%;
	}
	.contenedor-svg-iconos {
		display: flex;
		flex-direction: column;
	}
	
	/*Responsive contacto*/
	
	.texto-contacto {
		margin: 0% 8%;
		width: 85%;
		padding-bottom: 2%;
		font-size: 20px;
	}
	.informacion-de-contacto {
		padding-top: 4%;
		margin-left: 8%
	}
	
	.contenedor-texto-formulario {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.detalles-formulario-contacto {
		padding: 30px 13px 95px;
		margin: 10% 10% 3%;
		width: 85%;
		height: 420px;
		flex-shrink: 0;
	}
	
	/*Responsive servicio*/
	
	.texto-resaltado-servicios {
		width: 90%;
	}
	
	.contenedor-circulo-servicio {
		display: flex;
		flex-direction: column;
	}
	
	.contenedor-formulario-servicios {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.detalles-formulario-servicio {
		padding: 30px 13px 30px;
		margin: 10% 10% 3%;
		width: 85%;
		height: 600px;
		flex-shrink: 0;
	}
	
	.img-circulo {
		width: 95%;
		height: 95%;
		margin-bottom: 10px;
	}
	
	.medida-formulario-servicios {
		width: 105%;
	}
	.texto-formulario-servicios {
		margin: 0% 8%;
		width: 85%;
		padding-bottom: 2%;
		font-size: 20px;
	}

/*Responsive mi-cuenta */
	img {
		width: 0%;
	}	
	.color-contenedor-cuenta {
		width: 100%;
		height: 500px;
		background-color: #F9F9F9;
		margin-top: -40px;
	}

}