@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
	margin: 0px;
	font-family: "Nunito";
	color: #323232;
}


ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	gap: 22px;
	height: 75px;

	flex: none;
	order: 1;
	flex-grow: 0;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a { 
	color: #323232;
	text-decoration-line: none;
}

a:hover { 
	color: #838286;
}

h1 {
	font-weight: 700;
	font-size: 55px;
	color: #FFFFFF;
	text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.36);
	padding-bottom: 50px;
}
h2 {
	font-size: 40px;
	line-height: 45px;
}

h5 {
	font-size: 20px;
}

p {
	font-size: 15px;
	line-height: 20px;
}

input {
	background-color: #FFFFFF;
	width: 42%;
	height: 44px;
	margin-bottom: 2%;
	margin-right: 4%;
	color: #636265;
	padding-left: 2%;
	font-size: 16px;
	border: 1px solid;
}

textarea {
	width: 92%;
	height: 240px;
	padding-left: 2%;
	font-size: 16px;
	
	border: 1px solid;
}
.Detalles-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 66px;
	position: fixed;
	width: 100%;
	height: 67px;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	background: rgba(234, 236, 232, 0.85);

} 
.Navegador {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 33px 0px 0px;

	width: 100%;
	height: 65px;
	
	flex: none;
	order: 0;
	flex-grow: 0;
}
.botones-linkeados {
	text-decoration: none;
}

.animacion-flecha {
	scroll-behavior: smooth;
}
.rectangulo-superior-footer{
	background-color: #D9D9D9;
	height: 155px;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.rectangulo-inferior-footer {
	background-color: #4E4D51;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	color: #ffffff;
}

.nuestras-redes {
	font-size: 13px;
	margin-bottom: revert;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.iconos-redes {
	display:flex;
	
}

.contenedor-svg-iconos {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 1%;
	align-items: center;
}

/*html index*/

.banner-home {
	background-position: center;
	background-blend-mode: multiply;
	background-image: url("img/Desktop/Home/contenedores_colores-reciclar-basura-residuos.jpg"), linear-gradient(180deg,rgba(1,0,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	margin-top: 67px;
	width: 100%;
	height: 650px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #ffffff;
}
.proposito-home {
	background-color: #F9F9F9;
	width: 1920px;
	height: 852px;
	display: flex;
	flex-direction: column;
}
.p1 {
	display: flex;
	width: 671px;
	height: 353px;
	flex-direction: column;
	flex-shrink: 0;
	margin-left: 800px;
}
.p2 {
	display: flex;
	width: 671px;
	height: 353px;
	flex-direction: column;
	flex-shrink: 0;
	margin-left: 800px;
}
.irnosotros-home {
	background-color: #67BC8C;
	width: 243px;
	height: 49px;
	color: #FFF;
	font-size: 22px;
	font-family: Nunito;
	font-weight: 600;
	text-align: center;
	margin-left: 800px;
}

/* html contacto*/ 

.banner-contacto {
	background-position: bottom center;
	background-blend-mode: multiply;
	background-image: url("img/desktop/contacto/contacto-1.jpg"),linear-gradient(180deg,rgba(10,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	margin-top:67px;
	height: 300px; 
	brackground-repeat: no-repeat;
	background-color: #FFFFFF;
	background-size: cover;
}
.interior-contacto {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.contenedor-texto-formulario {
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.color-fondo-contacto {
	background-color: #F9F9F9;
}

.dudas-sugerencias {
	padding: 42px 0px;
	margin: 0% 10%;
	margin-right: 2%;
	width: 38%;
}

.texto-contacto {
	margin: 0% 19%;
	width: 66%;
	padding-bottom: 2%;
	font-size: 16px;
}
.informacion-de-contacto {
	margin: 0% 19%;
	width: 38%;;
	top: 36px;
}

.texto-address{
	display: flex;
	font-size: 13px;
	font-style: normal;
	margin-left: 2%;
}

.icono-texto-address {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.detalles-formulario{
	background-color: #FFFFFF;
	padding: 30px;
	margin-right: 10%;
	width: 34%;
	height: 430px;
	flex-shrink: 0;
}

.asunto-formulario {
	width: 92%;
	border: 1px solid;
	color: #636265;
}

.mensaje-formulario {
	width: 94%;
	height: 244px;
}

.boton-enviar {
	width: 151px;
	height: 48px;
	margin-top: 3%;
	background-color: #66BC8D;
	font-size: 19px;
	border: none;
	color: #fff;
}

.boton-enviar:hover {
	background-color: #383838;
}

/* html nosotros*/ 

.banner-nosotros {
	background-position: bottom center;
	background-blend-mode: multiply;
	background-image: url("img/Desktop/Nosotros/nosotros-2.jpg"),linear-gradient(180deg,rgba(10,2,2,0.02) 0%,rgba(15,0,0,0.66) 100%)!important;
	margin-top: 67px;;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
}

.interior-nosotros {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.texto-nosotros {
	text-align: center;
	padding: 42px 0px;
	margin: 0% 20%;
}

.linea-separadora-nosotros {
	content: "";
	height: 1px;
	color: #67BC8C;
	border-top-style: solid;
	margin: 40px 25%;
}

.color-contendor-version-uno-nosotros {
	background-color: #F9F9F9;
	padding: 50px 0px;
	box-sizing: border-box;
}

.contenedor-version-uno-nosotros {
	margin: 0px 0px;
	padding: 30px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor-version-cinco-nosotros {
	margin: 0px 0px;
	padding: 30px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-dobles-nosotros {
	margin-right: 2%;
}

.texto-version-uno-nosotros {
	width: 38%;
}

.texto-version-dos-nosotros {
	margin-right: 2%;
	width: 38%;
}

.contenedor-version-dos-nosotros {
	display: flex;
	justify-content: center;
}

.color-contendor-version-dos-nosotros {
	background: #E8EAE5;
	width: 75%;
	height: 400px;
	display: flex;
	align-items: flex-start;
	padding: 2%;
	margin-bottom: 50px;
}

.texto-version-tres-nosotros {
	margin-left: 3%;
	width: 100%;
}

.contenedor-version-tres-nosotros {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}

.contenedor-perfiles-nosotros {
	width: 37%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3%;
}

.h5-nosotros {
	margin: 12px 0px 6px;
}

.texto-perfiles-nosotros {
	font-size: 13px;
	font-style: italic;
	text-align: center;
	border-left: solid 4px #BCBCB9;
	padding-left: 3%;
	margin: 3% 0%;
}

.contenedor-version-cuatro-nosotros {
	background-color: #F9F9F9;
	text-align: center;
	align-items: center;
	margin-top: 6%;
	padding-top: 6%;
}

.por-que-erres-nosotros {
	background-image: url("img/Desktop/Nosotros/porque-Erres.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 160vh;
	height: 38vh;
	margin-top: 2%;
}

.texto-version-cuatro-nosotros {
	text-align: center;
	margin: 2% 18%;
}

@media screen and (max-width: 600px) {
	h2 {
		text-align: center;
	}
	
	.img-dobles-nosotros {
		padding-top: inherit;
	}
	.texto-nosotros {
		width: 83%;
		margin: 0% 8%;	
	}
	.contenedor-version-uno-nosotros {
		display: flex;
		flex-direction: column-reverse;
	}

	.texto-version-uno-nosotros {
		width: 90%;
	}
	
	.img-dobles-nosotros {
		width: 100%;
		height: 100%;
		margin-right: 0%;
	}
	
	.color-contendor-version-dos-nosotros {
		display: flex;
		flex-direction: column-reverse;
		height: 970px;
		width: 80%;
		align-items: center;
		padding: 4%;
	}
	
	.color-contendor-version-dos-nosotros img {
		height: 100%;
		width: 100%;
	}
	
	.contenedor-version-cinco-nosotros {
		display: flex;
		flex-direction: column;
	}
	
	.texto-version-dos-nosotros {
		width: 90%;
		margin-right: 0%;
	}
	
	.texto-version-tres-nosotros {
		width: 100%;
		margin: 0% 0% 4%;
	}
	
	.contenedor-version-tres-nosotros {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
	}
	
	.contenedor-perfiles-nosotros {
		width: 80%;
	}
	
	.texto-perfiles-nosotros {
		font-size: 1em;
	}
	
	.por-que-erres-nosotros {
		background-size: cover;
	}
	
	.texto-version-cuatro-nosotros {
		margin: 2% 10%;
	}
	
	.erres-palabras-nosotros {
		height: 100%;
		width: 100%;
	}
	
	.rectangulo-superior-footer {
		height: 195px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	
	.economia-circular {
		margin-bottom: 3%;
	}
	.contenedor-svg-iconos {
		display: flex;
		flex-direction: column;
	}
}